/* start edit form */
#form_div {
    margin: 30px auto;
    font-family: sans-serif;
    box-shadow: 5px 10px 18px #888888;
    position: fixed;
    left: 500px;
    border-radius: 10px;
    background: #fff;
}

#form_div>div {
    padding: 20px;
    z-index: -1;
}

#form_div>p {
    margin: 0px;
    font-size: 24px;
    font-weight: 600px;
    padding: 20px;
    color: #fff;
    background-color: rgb(46, 46, 185);
    border-radius: 5px;
}

#input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    place-items: center;

}

#input input {
    padding: 10px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 5px;
}

#Cancle,
#Add {
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    border-style: none;
    border: 1px solid grey;
    border-radius: 3px;
}

#Add {
    background-color: rgb(46, 46, 185);
    font-weight: 700;
    color: #fff;

}

.error,
h6 {
    border-color: red;
    color: red;
}

.sucess {
    border-color: greenyellow
}

/* end edit form */

/* start Employee_Information */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* #Employee_Information  heading*/
#Employee_Information {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(200, 193, 193);
    align-items: center;
}

#Employee_Information button {
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    border-style: none;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: rgb(46, 46, 185);
    font-weight: 700;
    color: #fff;
    height: 50%;
    width: 5%;

}

#Employee_Information p {
    font-size: 32px;
    font-weight: 500;
}

/* end Employee_Information */

/* table start */
#table {
    border: 1px solid grey;
    border-radius: 5px;
}

#table th {
    width: 300px;
    padding: 10px 0px;
}

td {
    text-align: center;
    padding: 8px;
}

tr:hover {
    background-color: rgb(233, 220, 220);
}

#edit {
    background-color: blue;
    color: #fff;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 500;
    border-style: none;
    margin-right: 20px;
    border-radius: 5px;
}

#remove {
    color: red;
    padding: 5px;
    border-style: none;
    background-color: #fff;
    font-size: 18px;
    font-weight: 500;
}

td {
    border-top: 1px solid black;
}

#empty {
    display: flex;
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #888888;
}


/* table end */